lambda-pipeline/.ipynb_checkpoints/
code/finetuning/.ipynb_checkpoints/
code/notebook/.ipynb_checkpoints/
code/__pycache__/
code/.ipynb_checkpoints/
.virtual_documents/
.gpt_config.env
.DS_Store
manuscript/
# lambda-pipeline
lambda-pipeline/.aws-sam/
lambda-pipeline/env.json
lambda-pipeline/samconfig.toml
test.py
